arrow==1.2.3
asciimatics==1.14.0
attrs==23.1.0
aws-requests-auth==0.4.3
AWSIoTPythonSDK==1.5.2
backports.entry-points-selectable==1.2.0
bitstring==4.0.2
bleach==6.0.0
boto3==1.26.131
botocore==1.29.131
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
coverage==7.2.5
cryptography==40.0.2
decorator==5.1.1
distlib==0.3.6
dnslib==0.9.23
dnspython==2.3.0
docker-py==1.10.6
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.20
ecdsa==0.18.0
esptool==4.5.1
filelock==3.12.0
future==0.18.3
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
invoke==2.1.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
keyring==23.13.1
MarkupSafe==2.1.2
packaging==23.1
paho-mqtt==1.6.1
pbr==5.9.0
pexpect==4.8.0
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.5.0
pluggy==1.0.0
prettytable==3.7.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
py==1.11.0
pyaes==1.6.1
pycparser==2.21
pyfiglet==0.8.post1
Pygments==2.15.1
PyJWT==2.7.0
pykwalify==1.8.0
pyparsing==3.0.9
pypng==0.20220715.0
pyrsistent==0.19.3
pyserial==3.5
pytest==7.1.3
pytest-html==3.2.0
pytest-metadata==2.0.4
python-box==7.0.1
python-dateutil==2.8.2
pyusb==1.2.1
PyYAML==6.0
questionary==1.10.0
readme-renderer==37.3
reedsolo<2
requests==2.30.0
requests-aws4auth==1.2.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.3.5
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
s3transfer==0.6.1
semver
six==1.16.0
sqlitedict==2.1.0
stevedore==5.0.0
termcolor==2.3.0
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
twine==4.0.2
typing_extensions==4.5.0
urllib3<2
validators==0.20.0
virtualenv==20.23.0
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.1
wheel
yaspin==2.3.0
zipp==3.15.0